.auth-page {
    min-height: calc(100vh - 70px);

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--background);
}

.auth-card {
    width: 400px;
    background: white;
    padding: 40px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.auth-card h1 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary);
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.auth-form input {
    padding: 12px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    font-size: 15px;
}
.password-field {
    position: relative;
    width: 100%;
}

.password-field input {
    width: 100%;
    padding-right: 45px;
    box-sizing: border-box;
}
.input-group,
.password-field {
    position: relative;
    width: 100%;
}

.input-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #9ca3af;
    font-size: 15px;
}

.input-group input,
.password-field input {
    width: 100%;
    padding: 12px 45px 12px 42px;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    font-size: 15px;
    box-sizing: border-box;
}

.input-group input:focus,
.password-field input:focus {
    outline: none;
    border-color: var(--primary);
}

.eye-btn {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);

    background: transparent;
    border: none;
    outline: none;

    color: #6b7280;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4px;
}

.eye-btn:hover {
    color: var(--primary);
}

.auth-form > button {
    padding: 14px;
    background: var(--primary);
    color: white;
    border: none;
    border-radius: var(--radius);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.auth-form > button:hover {
    background: var(--primary-dark);
}

.auth-footer {
    margin-top: 20px;
    text-align: center;
}

.auth-footer a {
    color: var(--primary);
    font-weight: bold;
}

@media(max-width:768px){
    .auth-card{
        width:95%;
        padding:25px;
    }
}
@media(max-width:320px){
    .auth-page{
        padding:15px;
    }
    .auth-card{
        width:100%;
        padding:20px;
    }
    .auth-card h1{
        font-size:24px;
    }
}