.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.45);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;

}

.delete-modal{

    width:420px;

    background:white;

    border-radius:18px;

    padding:30px;

    box-shadow:0 10px 30px rgba(0,0,0,.25);

    animation:popup .25s ease;

}

@keyframes popup{

    from{

        transform:scale(.9);

        opacity:0;

    }

    to{

        transform:scale(1);

        opacity:1;

    }

}

.delete-modal h2{

    color:#ef4444;

    margin-bottom:15px;

}

.delete-info{

    margin:20px 0;

    padding:15px;

    background:#f8fafc;

    border-radius:10px;

}

.modal-buttons{

    display:flex;

    justify-content:flex-end;

    gap:15px;

    margin-top:25px;

}

.cancel-btn{

    background:#e5e7eb;

    border:none;

    padding:10px 20px;

    border-radius:8px;

    cursor:pointer;

}

.confirm-delete-btn{

    background:#ef4444;

    color:white;

    border:none;

    padding:10px 20px;

    border-radius:8px;

    cursor:pointer;

}

.confirm-delete-btn:hover{

    background:#dc2626;

}